
body {
    margin: 0;
    padding: 0;
}

tbody tr:nth-child(odd) {
    background-color: #abadaf;
    color: #fff;
}

.nav {
    color: aqua;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200;
}

nav {
    border-bottom: black;
    border-bottom: 1px;
    padding: 16px;
}
.joinBtn {
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.joinBtn:hover {
    background-color: bisque;
}